.container-scanner {
    overscroll-behavior-y: none;

    ::ng-deep {
        video {
            height: 100dvh !important;
            z-index: 100 !important;
            position: absolute !important;
            top: 0 !important;
            left: 0 !important;
        }
       
    }
}

// .frame {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100dvh;
//     z-index: 1;
//     border-bottom: 255px solid #0000009c;
//     border-top: 122px solid #0000009c;
//     border-left: 28px solid #0000009c;
//     border-right: 28px solid #0000009c;
//     box-shadow: 0 0 0 13px #333;
// }

.container-dashed {
    position: fixed;
    top: 123px;
    z-index: 1001;
    height: 100dvh;
    top: 0;
    width: 100%;

}

.dashed {
    border: 2px dashed #ffffff;
    border-radius: 14px;
    position: absolute;
    z-index: 1002;
    margin: 0;
    left: 28px;
    right: 28px;
    bottom: 252px;
    top: 122px;
    box-shadow: 0 0 0 100vh #0000009c
}

.data {
    position: absolute;
    z-index: 1003;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}